
.logo {
  line-height: 60px;
  /*position: fixed;*/
  float: left;
  margin: 16px 46px;
  color: #000000;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 2px;
}
nav {
  border-bottom-width: thick;
  /*position: fixed;*/
  width: 100%;
  line-height: 60px;
  background-color: #F2F2F2;
}
nav ul {
  line-height: 60px;
  list-style: none;
  background: rgba(0, 0, 0, 0);
  overflow: hidden;
  color: #000000;
  text-align: right;
  margin: 0;
  padding-right: 40px;
  transition: 1s;
}
nav.black ul {
  background: #000;
}

nav ul li {
  display: inline-block;
  padding: 16px 40px;;
}

nav ul li a {
  text-decoration: none;
  color: #000000;
  font-size: 16px;
}

.content {
  width: 94%;
  margin: 4em auto;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
}
