<div class="card border-dark mb-3" style="max-width: 20rem;">
  <div class="card-header bg-transparent border-dark">
    <div class="row">
      <div class="col-sm-3"><span class="badge text-bg-danger">&nbsp;</span>&nbsp;
        <span class="badge text-bg-warning">&nbsp;</span>&nbsp;
        <span class="badge text-bg-success">&nbsp;</span></div>
      <div class="col-sm-9"><span style="font-weight: bold; "> FTP://SCORPION-SCISSORS/BLOG-POST</span></div>
    </div>
  </div>
  <p style="font-size: 0px">&nbsp;</p>
  <div class="card-img-top" style="background-image:url('assets/pexels-lucas-monteiro-1868471.jpg'); width:-moz-available; height:10rem; background-position:center; border-radius: 10px;  border: 2px solid black; padding: 5px ">&nbsp;</div>
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-outline-dark">Learn More →</a>
  </div>
</div>
